
body{
    display: flex;
    flex-wrap: wrap;
}
.container
{
 
    margin: auto;
    padding: 20px;
    width: 500px;
    border: 1px solid #000;

}

.row,.clear{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;

}
.operators_row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.operators_row button{
    width: 100px;
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  border: 1px solid #000;
  border-radius: 20px;
    height: 70px;
    font-size: 30px;
    width: 100px;   
}
#display{
    font-size: 20px;
    margin: auto;    
    display: flex;
    justify-content  : center;
    height: 50px;
    width: 90%;
    border: 2px solid #000;
    border-radius: 20px;
}

@media only screen and (max-width:500px){
    button{
        width: 80px;
    } 
}
@media only screen and (max-width:410px){
    button{
        width: 60px;
    } 
}
@media only screen and (max-width:347px){
    button{
        width: 40px;
    } 
}